@use 'variables' as *;

footer.site-footer {
    margin-top: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #CCC;
    text-align: center;

    .social {
        margin: 0 auto;
        
        ul {
            display: inline-block;
            margin-bottom: 1.5rem;
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                margin: 0 1rem;
                vertical-align: middle;
            
                &:first-child {
                    margin-left: 0;
                }
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }

    a {
    color: inherit;

    &:hover {
      color: $link-color;
      text-decoration: none;

      svg {
        fill: $link-color;
      }
    }
         
    span {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    svg {
      transition: ease .2s;
      vertical-align: middle;
    
      @media (max-width: $large-breakpoint) {
        height: calc(30px * .85); 
      }
    }
  }

        svg {
            fill: #515151;
        }
    }

    p {
        margin-top: 0;
    }
}